<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title if title else "Bokeh Plot" }}</title>
	{{ plot_resources|indent(8) }}
	{{ plot_script|indent(8) }}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    video = document.querySelector('video');
	ready_to_play = true;
    hover_position = 0;
    var progress = 0,
        line_y = {{ line_y }},
        progress_bar = Bokeh.Collections('ColumnDataSource').get('{{ line_id }}'),
        update_resolution = 10,
        bk_canvas_events1 = document.getElementsByClassName('bk-canvas-events')[0],
        bk_canvas_events2 = document.getElementsByClassName('bk-canvas-events')[1]
    ;
    
	function update_progress_bar() {
	    progress = parseInt(video.currentTime * 1000);
	    progress_bar.set('data', {x: [progress, progress], y : line_y});
	    setTimeout(update_progress_bar, update_resolution);
	}
    video.addEventListener('ended', function(){ready_to_play = true;});
    update_progress_bar()

	bk_canvas_events1.addEventListener("dblclick", function () {
        video.pause();
        video.currentTime = hover_position;
        ready_to_play = true;
    });
 	bk_canvas_events2.addEventListener("dblclick", function () {
        video.pause();
        video.currentTime = hover_position;
        ready_to_play = true;
	});  
})
</script>
<style>
    body {background-color: #200000}
    .bk-logo{ display:none !important; }
    .color_square {
        display: inline-block;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid white;
        color: white;
        font-family: sans-serif;
        font-weight: 900;
    }

</style>

</head>
<body>
	<center>
	    <video  height=300>
	   		<!-- <source src="myvideo.mp4" type="video/mp4"> -->
	   		<source type="video/mp4" src="data:video/mp4;base64,{{video_data}}">
		</video>
		{{ plot_div|indent(8) }}
	</center>
{% for item in grouped_plot_data.values() %}
        <div class="color_square" style="background-color: {{ item['color'] }}">
            {% for filter, value in item['description'].items() %}
                {{ filter }}: {{ value }};
            {% endfor %}
        </div>
{% endfor %}
</body>
</html>
