{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>EEG Visualisation Tool Producer</title>
<style>
    body {
        font: 16px sans-serif;
        max-width: 790px;
        color: gray;
    }
    td {
        vertical-align: top;
        border-bottom: 1px dashed #c3c3c3;
    }
    .progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
    .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
    .percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript" src="{{ filesaver }}"></script>
<script>
$(document).ready(function() {
    evt = {
        get_end_user_file: function() {
            $.ajax({
                type: 'POST',
                url: "{{ get_end_user_file_url }}",
                data: JSON.stringify(document.getElementById('form')),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    alert(result);
                }
            })
        }
    };
    var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');
    $('#form').ajaxForm({
        dataType: 'json',
        beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        success: function() {
            var percentVal = '100%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            console.log(xhr);
            if (xhr.responseJSON.status == 'ok') {
                var blob = new Blob([xhr.responseJSON.content], {type: "text/html;charset=utf-8"});
                saveAs(blob, "evt.html");
            } else alert('something went wrong');
            event.preventDefault();
        }
    });

});
    </script>
</head>
<body>
<h1>
    EEG Visualisation Tool Producer
</h1>
<p>
    This is the server side part of the EEG Visualisation Tool. It is meant
    to be used by the data producer. The end user will have no access here.
</p>
<p>
    Most default parameters are correct and need not be changed. We only
    provide them here for extensibility in the prototype phase. Do not rely
    on them to remain here.
</p>
<p>
    Select the file from disk and submit to get a resulting html file. This
    file is to be saved on disk and passed to the end user / client.
    The data has to be formatted in precise way. The format will be described
    soon. For the moment being, use the test file provided.
</p>
<form id="form" action="{{ get_end_user_file_url }}" method="POST" enctype="multipart/form-data">
    <table>
        {{ render_field(form.data_file, required=True) }}
        {{ render_field(form.clip, required=True) }}
        {{ render_field(form.no_of_plots, type='number', min=0, max=10) }}
        {{ render_field(form.sampling_rate, type='number', min=0, max=10000) }}
        {{ render_field(form.y_margin, type='number', step='0.1', min=0, max=10) }}
        {{ render_field(form.plot_title) }}
        {{ render_field(form.client_name) }}
        {{ render_field(form.research_name) }}
        {{ render_field(form.date) }}
        {{ render_field(form.sample_size) }}
    </table>


    <input id="submit_btn" type="submit">
    <div class="progress"><div class="bar"></div><div class="percent">0%</div></div>
</form>
</body>
</html>
