<style>
/* affecting all */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 0;
    margin: auto;
    display: table;
    padding:10px;
}
table {
    border-collapse: collapse;
}

/* functional */
.block {
    display: block;
}
#mainframe {
    display: inline-block;
    vertical-align: top;
}
/* video row */
#video_row td {
    vertical-align: top;
    /* icons need this */
    position: relative;
}
.video_border_up, .video_border_down {
    width: 640px;
}
.video_border_up {
    height: 45px;
    background: url(data:image/png;base64,{{ video_border_up }}) no-repeat;
}
.video_border_down {
    height: 40px;
    background: url(data:image/png;base64,{{ video_border_down }}) no-repeat;
}

#logo {
    margin: 10px;
    border-bottom: 3px solid #7a3c8f;
    margin-top: 45px;
}

#client {
    width: 190px;
    min-height: 100px;
    color: #542365;
    padding: 10px;
    font-size: 18px;
}
#client p {
    margin-bottom: 1.5em;
}

/* play / pause icons */
.icons {
    display: none;
    position: absolute;
    bottom: 55px;
    left: 20px;
    width: 50px;
    height: 50px;
}
#play-icon {
    display: initial;
}

/* gauges */
.gauge_td {
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    color: #542365;
}
.gauge_td .gauge_wrapper {
    background: linear-gradient(to right, white 15%, #e9c8de);
    border-top: 2px solid #542365;
    height: 102px;
}
.gauge_title {
    height: 18px;
    font-size: 16px;
    text-align: left;
}

/* filters */
label {
    padding: 2px 10px 2px 2px;
    min-width: 100px;
    font-weight: 100;
    display: block;
    white-space: nowrap;
    float: left;
}
label input {
    vertical-align: middle;
    margin: auto !important;
}
label .inliner {
    vertical-align: middle;
}
.dark_color_square {
    background-color: #e9c8de;
    font-weight: 900;
}
#legend_v .dark_color_square {
    margin: 10px 13px 0 13px;
    font-family: "Arial", "Liberation Sans", Arial, sans-serif;

}
.grad_color_square {
    background: linear-gradient(to right, #f7f5f8, #f6ebf3);
}
#legend_v .grad_color_square {
    margin: 10px 13px 0 13px;
}
.grouper {
    border: 1px solid gray;
}
label, input[type=checkbox] {
    cursor: pointer;
}

.legend {
    font-family: "Arial Narrow", "Liberation Sans Narrow", Arial, sans-serif;
    color: gray;
    font-size: 14px;
    background-color: #f6ebf3;
    display: block;
    min-height: 94px;
}
.legend_h .legend{
    margin-left: 10px;
    padding: 5px;
}
#legend_v .legend{
    margin-left: 25px;
}
#legend_v .with_bottom_padding {
    padding-bottom: 40px;
}
#legend_v label {
    padding: 2px 8px 2px 8px
}
.legend td {
    vertical-align: top;
}
.legend_td {
    vertical-align: top;
    padding-top: 18px;
}
.bottom_gradient td {
    height:10px;
    background: linear-gradient(#f6ebf3, #ffffff);
}

#valency {
    width: 30px;
    border-bottom: 2px dashed orange;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#legend_v {
    font-size: 10px;
    display: inline-block;

}

#legend_v_upper_gradient {
    height: 35px;
    background: linear-gradient(white 15%, #f6ebf3);

}
#legend_v_lower_gradient {
    height: 30px;
    background: linear-gradient(#f6ebf3, white 85%);

}

/* plots */
.plot_td {
    vertical-align: top;
}

.bk-canvas-events {
    cursor: ew-resize
}

/* smiley faces, deprecated */
{#.faces {#}
{#    width: 32px;#}
{#    height: 32px;#}
{#    position: absolute;#}
{#    right: 12px;#}
{#}#}
{#.smile {#}
{#    fill: green;#}
{#    opacity: 0.5;#}
{#    top: 42px;#}
{#}#}
{#.sad {#}
{#    fill: red;#}
{#    opacity: 0.5;#}
{#    bottom: 49px;#}
{#}#}
</style>
