<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title if title else "Plot" }}</title>
    {{ plot_resources|indent(8) }}
    {{ script|indent(8) }}
{% include 'evt/js.jinja2' %}
{% include 'evt/css.jinja2' %}
</head>
{% include 'evt/body.jinja2' %}
</html>
